body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #00b7ff;
}

a {
    color: #ffffff;
}

.page-header {
    margin-top: 2rem;
}

.loc {
    padding: 2rem 0;
}