
extends layout
block content
  #banner.page-header
    .row
      .col-lg-6.mt-3
        h4 Loc8r
          small &nbsp;Find places to work with wifi near you!
  .row.loc
    .col-xs-12.col-sm-8 
      .row.list-group
        .col-xs-12.list-group-item
          h4
            a(href="/location") Starcups
            small &nbsp;
              //- span.fas.fa-star
              span
                i.fas.fa-star
              span
                i.fas.fa-star
              span
                i.fas.fa-star
              span
                i.fas.fa-star
              span
                i.fas.fa-star
              //- span.glyphicon.glyphicon-star-empty
              button.btn.btn-danger.time 100m
              p.address 125 High Street, Reading, RG6 1PS
              p 
                button.btn.btn-warning Hot drinks
                | &nbsp;
                button.btn.btn-warning Food
                | &nbsp;
                button.btn.btn-warning Premium wifi
                //- | &nbsp;
                //-  button.btn.btn-warning Hot drinks
                //- | &nbsp;
        .col-xs-12.list-group-item
          h4
            a(href="/location") Caffe Hero
            small &nbsp;
              //- span.fas.fa-star
              span
                i.fas.fa-star
              span
                i.fas.fa-star
              span
                i.fas.fa-star
              span
                i.fas.fa-star
              span
                i.fas.fa-star
              //- span.glyphicon.glyphicon-star-empty
              button.btn.btn-danger.time 100m
              p.address 125 High Street, Reading, RG6 1PS
              p 
                button.btn.btn-warning Hot drinks
                | &nbsp;
                button.btn.btn-warning Food
                | &nbsp;
                button.btn.btn-warning Premium wifi
        .col-xs-12.list-group-item
          h4
            a(href="/location") Burger Queen
            small &nbsp;
              //- span.fas.fa-star
              span
                i.fas.fa-star
              span
                i.fas.fa-star
              span
                i.fas.fa-star
              span
                i.fas.fa-star
              span
                i.fas.fa-star
              //- span.glyphicon.glyphicon-star-empty
              button.btn.btn-danger.time 100m
              p.address 125 High Street, Reading, RG6 1PS
              p 
                button.btn.btn-warning Hot drinks
                | &nbsp;
                button.btn.btn-warning Food
                | &nbsp;
                button.btn.btn-warning Premium wifi       
    .col-xs-12.col-sm-4
      p
        .lead Looking for wifi and a seat? Loc8r helps you find places to work when out and about. Perhaps with coffee, cake or a pint? Let Loc8r help you find the place you're looking for.
        .i.fas.fa-star